@import "../styles/variables.module.scss";
@import "../styles/mixins.scss";
@import "../styles/grid.module.scss";
@import "../styles/tipography.module.scss";
@import "@/styles/general.module.scss";

.section {
  @include container();
  margin-bottom: $space-medium;
  margin-top: $space-medium;
  padding: 0;
}

.container {
  @include container();
}

.title {
  text-align: center;
  text-transform: uppercase;
  @include h1m();
}

.formBox {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem;
  background-color: white;
  @include mq(md) {
    padding: 3rem 4rem;
  }
  iframe {
    width: 100% !important;
  }
}
