@import "@/styles/variables.module.scss";
@import "@/styles/mixins.scss";
@import "@/styles/grid.module.scss";
@import "@/styles/tipography.module.scss";
@import "@/styles/general.module.scss";

.section {
  @include container();
  margin-bottom: $space-medium;
  margin-top: $space-medium;
}

.title {
  display: none;
}
