@import "@/styles/variables.module.scss";
@import "@/styles/mixins.scss";
@import "@/styles/grid.module.scss";
@import "@/styles/tipography.module.scss";
@import "@/styles/general.module.scss";

.article {
  @include containerFluid();
  margin-bottom: $space-medium;
  margin-top: $space-medium;
  padding: 0;
}

.container {
  @include container();
  margin-bottom: $space-medium;
  margin-top: $space-medium;
  display: grid;
  gap: 3rem;
  @include mq(lg) {
    grid-template-columns: 1fr 1fr;
  }
}

.header {
}

.title {
  text-transform: uppercase;
}

.formWrapper {
  position: relative;
  /* order: 4; */
  @include mq(lg) {
    order: initial;
  }
}

.landingForm {
  box-shadow: 0 1.5rem 2.5rem #75c15133;
  background-color: white;
  margin: 0 auto;
  border-radius: 2rem;
  /* overflow: hidden; */
  padding: 10%;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 20%;
    top: 0;
    height: 0;
    width: 15%;
    padding-bottom: 15%;
    background-color: $primary-base;
    transform: translate(0, -40%);
    z-index: -1;
    border-radius: 10%;
  }
  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0;
    width: 40%;
    padding-bottom: 40%;
    background-color: $primary-base;
    transform: translate(15%, 15%);
    z-index: -1;
    border-radius: 10%;
  }
}

.deco {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  padding-bottom: 50%;
  border-radius: 5%;
  background-color: rgba($primary-light, 0.15);
  transform: translate(80%, -30%) rotate(-35deg);
  z-index: -1;
  &:before {
    content: "";
    position: absolute;
    left: 8%;
    top: 0;
    width: 6%;
    padding-bottom: 6%;
    border-radius: 50%;
    background-color: $secondary-base;
    transform: translate(0, -50%);
  }
  &:after {
    content: "";
    position: absolute;
    left: 15%;
    top: 22%;
    width: 100%;
    padding-bottom: 100%;
    border-radius: inherit;
    background-color: $primary-light;
    box-shadow: -0.5rem 0.5rem 2.5rem $primary-light;
  }
}
