@import "@/styles/variables.module.scss";
@import "@/styles/mixins.scss";
@import "@/styles/grid.module.scss";
@import "@/styles/tipography.module.scss";
@import "@/styles/general.module.scss";

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-transform: uppercase;
}
