@import "../styles/variables.module.scss";
@import "../styles/mixins.scss";
@import "../styles/grid.module.scss";
@import "../styles/tipography.module.scss";
@import "@/styles/general.module.scss";


.cover {
  position: relative;

  h1 {
    display: none;
  }

  @include mq(lg) {
    min-height: 56.25vw;
  }

  @include mq(xl) {
    min-height: 56.25vw;
  }
}

.coverImage {
  height: 100vw;
  width: 100%;
  position: relative;
  overflow: hidden;

  @include mq(lg) {
    height: 56.25vw;
  }

  &:before {
    content: "";
    width: 10%;
    padding-bottom: 10%;
    height: 0;
    position: absolute;
    bottom: 8%;
    right: 80%;
    z-index: 2;
    background-color: $secondary-base;
    border-radius: 50%;
    @include mq(lg) {
      width: 7%;
      padding-bottom: 7%;
      bottom: 1%;
      right: 15%;
    }
  }

  img {
    position: absolute;
    object-fit: cover;
    object-position: 100% center;
    clip-path: ellipse(95% 100% at 60% -0%);
    
    @include mq(lg){
      clip-path: ellipse(75% 100% at 60% -0%);
    }
  }
}

.coverContainer {
  @include container;
  margin: $space-thin auto;
  position: initial;
  padding: 0;
  display: grid;
  align-items: center;

  @include mq(lg) {
    grid-template-columns: 1fr 1.25fr;
    min-height: 50vw;
    margin-top: -62.5vw;
    max-width: 80%;
  }

  @include mq(xl) {
    margin-top: -56.25vw;
    grid-template-columns: 1fr 1fr;
    min-height: 40vw;
    max-width: 75%;
  }
}

.coverContent {
  position: relative;
  z-index: 1;
  justify-self: center;
  text-align: center;
  @include mq(lg) {
    text-align: left;
  }

  h2 {
    @include h1m();
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
    @include mq(xl) {
      font-size: 2.5vw !important;
    }
  }

  p {
    @extend %parrafo;
    margin-bottom: 2rem;
    text-align: justify;
    @include mq(xl) {
      font-size: 1vw;
    }
  }
}

// .about {
// }

.aboutContainer {
  @include container();
  margin-top: $space-medium;
  margin-bottom: $space-medium;
}

.aboutWrapper {
  display: grid;
  align-items: center;
  position: relative;
  @include mq(lg) {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}

.aboutMediaWrapper {
  background-color: $secondary-base;
  border-radius: 100%;
  padding: 7.5%;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    bottom: 50%;
    right: 100%;
    width: 250vw;
    height: 250vw;
    background-color: transparent;
    border-bottom: solid $primary-base;
    border-right: solid transparent;
    border-left: solid transparent;
    border-top: solid transparent;
    border-width: 40vw;
    border-radius: 50%;
    transform-origin: left bottom;
    transform: translate(40%, -25%) rotate(30deg);
    z-index: -1;
    @include mq(lg) {
      width: 150vw;
      height: 150vw;
      border-width: 25rem;
      transform-origin: center center;
      transform: translate(62.5%, 6.5%) rotate(45deg);
    }
    @include mq(xl) {
      transform: translate(57.5%, 3.5%) rotate(45deg);
    }
  }
}

.aboutMedia {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  box-sizing: border-box;
  border-radius: inherit;
  overflow: hidden;

  & > img {
    position: absolute;
    object-fit: cover;
    object-position: center center;
  }
}

.aboutContent {
  position: relative;
  text-align: center;

  @include mq(lg) {
    text-align: left;
  }

  h2 {
    margin-top: 4rem;

    @include mq(lg) {
      text-align: left;
      margin-top: initial;
    }
  }

  p {
    @extend %parrafo;
    text-align: justify;
    margin-bottom: 3rem;
  }
}

.resultados {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(60%, -50%);
    width: 100vw;
    height: 100vw;
    border: 15vw solid $gray-light;
    border-radius: 50%;
    z-index: -1;
  }
}

.resultadosContainer {
  @include container();
  margin-top: $space-medium;
  margin-bottom: $space-medium;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2rem;
  @include mq(lg) {
    grid-template-columns: 1.25fr 1fr;
  }
}

.resultadosMedio {
  position: relative;
  padding-bottom: 80%;
  & > img {
    object-fit: contain;
    position: relative;
    margin: 0 auto;
    max-width: 50rem;
  }
}

.resultadosContenido {
  text-align: center;

  @include mq(lg) {
    text-align: initial;
  }

  h2 {
    @include h3m();
  }

  p {
    margin-bottom: 2.5rem;
    text-align: justify;
  }
}

.seguros {
  position: relative;
}

.segurosContainer {
  @include container();
  margin-top: $space-medium;
  margin-bottom: $space-medium;

  h2 {
    text-align: center;
  }
}

.segurosLista {
  @include container();
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 2rem;
  @include mq(sm) {
    gap: 4rem;
  }
  @include mq(md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.segurosMedio {
  position: relative;
  padding-bottom: 56.25%;
  & > img {
    object-fit: contain;
  }
}

.servicios {
  z-index: initial;
}

.serviciosContainer {
  @include container();
}

.serviciosHeader {
  margin-bottom: 6rem;

  h2 {
    text-align: center;
  }
}
