@import "../../styles/variables.module.scss";

.item {
  list-style: none;
  margin: 0;
  color: $primary-base;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  font-family: var(--poppins), sans-serif;
  transition: all 0.15s ease-in-out;
  &:hover {
    & > .labelWrapper {
      background-color: rgba($primary-base, 0.1);
    }
  }

  a,
  & > span {
    text-decoration: none !important;
    color: inherit;
    display: block;
    flex: 1;
  }
}

.labelWrapper {
  display: flex;
  gap: 0.7rem;
  background-color: rgb(187 187 187 / 10%);
  border-radius: 0.2rem;
  justify-content: space-between;
}

@mixin itemText {
  display: block !important;
  line-height: 1.2;
  text-decoration: none;
  color: inherit;
  padding: 1rem 1.5rem;
  padding-right: 4rem;
  font-family: var(--poppins), sans-serif;
  font-weight: inherit;
}
.itemLink {
  @include itemText();
}

.itemLabel {
  @include itemText();

  span {
    text-transform: capitalize !important;
    color: $primary-base;
  }
}

.expand {
  position: relative;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  cursor: pointer;
  transition: 0.3s transform ease-in-out;

  &:global(.expanded) {
    transform: rotate(-90deg);
  }
}

.expandWrapper {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;

  svg,
  img,
  embed,
  object {
    width: 100%;
  }
}

.listWrapper {
  overflow: hidden;
  background-color: rgb(187 187 187 / 10%);
  border-radius: 0.2rem;
  opacity: 0;

  li {
    font-weight: 500;
    text-transform: capitalize;
  }

  &:global(.active) {
    opacity: 1;
  }
}

.list {
  transition: all 0.25s ease-in-out;
  opacity: 0;
  margin-top: -1920px;

  &:global(.active) {
    opacity: 1;
    margin-top: 0;
  }
}
