@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "./variables.module.scss";
@import "./mixins.scss";
@import "./tipography.module.scss";

/* CSS RESET */

#adsbox {
  display: none;
}

html,
body {
  border: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
  border: none;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

blockquote::before,
blockquote::after {
  content: "";
}

a,
path {
  transition: all 0.15s linear;
}

/* DOCUMENT SETUP */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  box-sizing: border-box;
  color: $text-base;
  font-family: var(--ibm), sans-serif;
  font-size: 1.6rem;
  letter-spacing: -0.015em;
  text-align: left;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  word-wrap: break-word;
}

#site-content {
  overflow: hidden;
}

/* ACCESSIBILITY SETTINGS */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}

/* ELEMENT BASE */
main {
  display: block;
}

p {
  line-height: 1.5;
  margin: 1.5rem 0;
}

em,
i,
q,
dfn {
  font-style: italic;
}

em em,
em i,
i em,
i i,
cite em,
cite i {
  font-weight: bolder;
}

big {
  font-size: 1.2em;
}

small {
  font-size: 0.75em;
}

b,
strong {
  font-weight: 700;
}

ins {
  text-decoration: underline;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

abbr,
acronym {
  cursor: help;
}

address {
  line-height: 1.5;
  margin: 0 0 2rem 0;
}

hr {
  border-style: solid;
  border-width: 0.1rem 0 0 0;
  border-color: $gray-light;
  margin: 4rem 0;
}

a {
  color: $primary-base;
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* LIST STYLES */
ul,
ol {
  margin: 0 0 2rem 2rem;
}

ul {
  list-style: disc;
}

ul ul {
  list-style: circle;
}

ul ul ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

ol ol {
  list-style: lower-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

li {
  line-height: 1.5;
  margin: 0.5rem 0 0 0rem;
}

li > ul,
li > ol {
  margin: 1rem 0 0 2rem;
}

.reset-list-style,
.reset-list-style ul,
.reset-list-style ol {
  list-style: none;
  margin: 0;
}

.reset-list-style li {
  margin: 0;
}

dt,
dd {
  line-height: 1.5;
}

dt {
  font-weight: 700;
}

dt + dd {
  margin-top: 0.5rem;
}

dd + dt {
  margin-top: 1.5rem;
}

/* QUOTE STYLES */

blockquote {
  border-color: $primary-base;
  border-style: solid;

  /*rtl:ignore*/
  border-width: 0 0 0 0.2rem;
  color: inherit;
  font-size: 1em;
  margin: 4rem 0;

  /*rtl:ignore*/
  padding: 0.5rem 0 0.5rem 2rem;
}

cite {
  color: $gray-base;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
}

blockquote cite {
  display: block;
  margin: 2rem 0 0 0;
}

blockquote p:last-child {
  margin: 0;
}

/* CODE STYLES */

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 0.9em;
  padding: 0.4rem 0.6rem;
}

code,
kbd,
samp {
  background: rgba(0, 0, 0, 0.075);
  border-radius: 0.2rem;
}

pre {
  border: 0.1rem solid $gray-light;
  line-height: 1.5;
  margin: 4rem 0;
  overflow: auto;
  padding: 3rem 2rem;
  text-align: left;
}

pre code {
  background: transparent;
  padding: 0;
}

/* MEDIA STYLES */

figure {
  display: block;
  margin: 0;
}

iframe {
  display: block;
  max-width: 100%;
}

video {
  display: block;
}

svg,
img,
embed,
object {
  display: block;
  height: auto;
  max-width: 100%;
}

img {
  width: 100% !important;
}

figcaption,
.wp-caption-text {
  color: $gray-base;
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 1.5rem;
}

figcaption a,
.wp-caption-text a {
  color: inherit;
}

/* TABLE STYLES */

table {
  border: 0.1rem solid $gray-light;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: 1.6rem;
  margin: 4rem 0;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

.alignleft > table {
  margin: 0;
}

.alignright > table {
  margin: 0;
}

th,
td {
  border: 0.1rem solid $gray-light;
  line-height: 1.4;
  margin: 0;
  overflow: visible;
  padding: 0.5em;
}

caption {
  background: $gray-light;
  font-weight: 600;
  padding: 0.5em;
  text-align: center;
}

thead {
  vertical-align: bottom;
  white-space: nowrap;
}

th {
  font-weight: 700;
}

/* SLICK NORMALIZE */

.slick-slide {
  position: relative;
  z-index: 1;
}

.slick-active {
  position: relative;
  z-index: 2;
}

/* TIPOGRAPHY */

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
.faux-heading {
  font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
  font-weight: 400;
  letter-spacing: -0.0415625em;
  line-height: 1.25;
  margin: 2rem 0;
  font-family: var(--poppins), sans-serif;
}

h1 {
  @include h1m;
}

h2 {
  @include h2m;
}

h3 {
  @include h3m;
}

h4 {
  @include h4m;
}

h5 {
  @include h5m;
}

h6 {
  @include h6m;
}
